html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
span::before {
  animation-name: var(--animation, a);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 100px;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes a {

  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes a2 {

  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes a3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

